
<!DOCTYPE html>
<html>
<head>

<p1>Select a dietary filter and a category</p1>

<br>
<br>

<p2>If dietary filter selected, keep category as "none"</p2>

<br>
<br>
</head>

<body>
<form action="/randomizer-result">
  <label for="filter">Dietary Filter:</label>
  <select name="filter" id="filter">
    <option value='none'>None</option>
    <option value='vegan'>Vegan</option>
    <option value='vegetarian'>Vegetarian</option>
  </select>
  <br>
  <label for="category">Category:</label>
  <select name="category" id="category">
    <option value='none'>None</option>
    <option value='fast'>Fast</option>
    <option value='coffee'>Coffee</option>
    <option value='asian'>Asian</option>
    <option value='mexican'>Mexican</option>
    <option value='italian'>Italian</option>
    <option value='american'>American</option>
    <option value='greek'>Greek</option>
    <option value='middleeastern'>Middle Eastern</option>
    <option value='mongolian'>Mongolian</option>
    <option value='dessert'>Dessert</option>
    <input type="submit" value="Submit">
</form>
</body>

</html>